@import 'media-queries';
@import 'base';
.App {
    display: flex;
    height: 100vh;
    max-width: 100%;
    @include for-desktop-up {
        header {
            width: 255px;
            padding-left: calc(561.5px - 255px);
        }
        main {
            width: 980px;
        }
    }
    @include for-desktop-up {
        header {
            width: 255px;
            padding-left: calc(561.5px - 255px);
        }
        main {
            width: 980px;
        }
    }
    header {
        align-items: flex-end;
        a {
            color: inherit;
        }
        .LeftMenus{
            .list-group{
                padding-left: 0px;
                list-style: none;
                li {
                    padding: 5px 5px 5px 0px;
                }
            }
            .TweetBtnLarge{
                display: inline-flex;
                justify-content: center;
                width: calc(100% - 25px);
                margin: 15px 0px;
                background-color: #1da1f2;
                border-radius: 25px;
                border: none;
                color: #ffffff;
                padding: 10px 22px;
                font-size: 1.2em;
                font-weight: 800;
                overflow: auto;
                outline: none;
                box-shadow: none;
            }
            .logo {
                width: 30px;
                height: 30px;
                margin-top: 10px;
                padding-left: 10px;
                color: rgb(89, 114, 129);
                fill: currentcolor;
                svg {
                    color: rgba(29, 161, 242, 1.00);
                }
            }
            .Menu {
                display: inline-block;
                padding: 10px 10px 10px 10px;
                .wrapper {
                    display: flex;
                    .title {
                        margin: 0px 20px;
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }
                &:hover{
                    border-radius: 2em;
                    width: auto;
                    background-color: #e6f5fe;
                    cursor: pointer;
                    color: #1da1f2;
                    svg{
                        fill: #1da1f2;
                    }
                }
            }
        }
        
    }
    
    main {
        display: flex;
        .PageTop {
            padding: 0px 15px;
            padding-bottom: 1rem;
            padding-top: 1rem;
            border-bottom: 1px solid #ebeef0;
            .text {
                font-size: 19px;
                font-weight: 800;
                display: inline;
            }
            .right-icon {
                width: 25px;
                height: 25px;
                color: #1da1f2;
                fill: currentColor;
                float: right;
                display: inline;
            }
        }
        .main {
            width: 598px;
            border-right: 1px solid #ebeef0;
            border-left: 1px solid #ebeef0;
            box-sizing: border-box;
            .Feeds{
                border-top: 1px solid #ebeef0;
                margin-bottom: 2em;
                .TweetItem{
                    border-bottom: 1px solid #ebeef0;
                    .TweetExtraInfo{
                        padding-left: 51px;
                    }
                    .TweetContent{
                        display: flex;
                        .TweetItemDp{
                            display: flex;
                            justify-content: center;
                            img{
                                width: 49px;
                                height: 49px;
                                border-radius: 50%;
                                margin:10px;
                            }
                        }
                        .TweetItemContentColumn{
                            width: 100%;
                            padding-left: 5px;
                            .TweetTop{
                                font-size: 14px;
                                .SenderName{
                                    font-weight: 800;
                                }
                                .SenderHandle{
                                    font-weight: 500;
                                }
                            }
                            .TweetContentDetail{
                                font-size: 15px;
                                padding: 1px 0px;
                            }
                            .TweetActions{
                                padding: 0px 100px 10px 0px;
                                margin-top: 10px;
                                .Actions{
                                    list-style: none;
                                    display: flex;
                                    justify-content: space-between;
                                    padding-left: 0px;
                                    .ActionItem{
                                        display: flex;
                                        justify-content: center;
                                        .CountText{
                                            font-size: 15px;
                                        }
                                        span{
                                            margin: 0px 5px;
                                        }
                                        svg{
                                            width: 19px;
                                            height: 19px;
                                            display: inline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .RightSide {
            width: 350px;
            padding: 10px 0px 0px 23px;
            .GreyBack{
                background-color: #ebeef0;
            }
            .Search{
                border: none;
                width: 100%;
                overflow-x: hidden;
                height:37px;
                display: flex;
                border-radius: 2em;
                font-size: 15px;
                margin-bottom: 10px;
                input{
                    width: 100%;
                    overflow: hidden;
                    border: none;
                    font-size: 15px;
                    outline: none;
                }
                .SearchButton{
                    padding: 10px 5px; 
                    display: flex;
                    span{
                        margin-left: 8px;
                        width: 22.5px;
                        color: #ffffff;
                        height: 22.5px;
                        svg{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
            .TrendingList{
                margin: 10px 0px;
                border-radius: 1em;
                min-height: 300px;
                background-color: #f7f9fa;
                .Heading{
                    border-bottom: 1px solid #ebeef0;
                    .Content{
                        width: calc(100% - 30px);
                        height: 30px;
                        padding: 10px 15px;
                        display: flex;
                        justify-content: space-between;
                    }
                    .title{
                        font-size: 19px;
                        padding-left: 10px;
                        align-self: center;
                        font-weight: 800;
                    }
                    .icon{
                        width: 22.5px;
                        height: 22.5px;
                        padding: 10px;
                        svg{
                            display: inline-block;
                            fill: #1da1f2;

                        }
                    }
                }
                .ListItem{
                    padding: 5px 15px;
                    border-bottom: 2px solid #ebeef0;
                    .Source{
                        font-size: 13px;
                        color: #5b7083;
                        margin: 3px 0px;
                    }
                    .Topic{
                        font-size: 15px;
                        font-weight: 800;
                        margin: 10px 0px;
                    }
                    .Stats{
                        font-size: 13px;
                        color: #5b7083;
                        margin: 3px 0px;
                    }
                }
                .Footer{
                    padding: 10px;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        color: #1da1f2;
                        font-size: 15px;
                    }
                }
            }
            .FollowList{
                margin-top: 5px;
                border-radius: 1em;
                min-height: 200px;
                background-color: #f7f9fa;
                .Heading{
                    border-bottom: 1px solid #ebeef0;
                    .Content{
                        width: calc(100% - 30px);
                        height: 30px;
                        padding: 10px 15px;
                        display: flex;
                        justify-content: space-between;
                    }
                    .title{
                        font-size: 19px;
                        padding-left: 10px;
                        align-self: center;
                        font-weight: 800;
                    }
                }
                .UserList{
                    .UserItem{
                        padding: 10px 15px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #ebeef0;
                        .dp{
                            padding-right: 10px;
                            img{
                                border-radius: 50%;
                                width: 49px;
                                height: 49px;
                            }
                        }
                        .RightColumn{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            .Content{
                                height: 42px;
                                align-self: center;
                                .Name{
                                    font-size: 15px;
                                    font-weight: 800;
                                }
                                .Handle{
                                    font-size: 15px;
                                    color: #5b7083;
                                }
                            }
                            .Button{
                                display: flex;
                                align-items: center;
                                button{
                                    padding: 5px 15px;
                                    border: 1px solid #1da1f2;
                                    border-radius: 2em;
                                    background-color: #f6f5fe;
                                    color: #1a91da;
                                    font-weight: 800;
                                    font-size: 15px;
                                }
                            }
                        }
                        
                    }
                }
                .Footer{
                    padding: 10px;
                    a{
                        text-decoration: none;
                        cursor: pointer;
                        color: #1da1f2;
                        font-size: 15px;
                    }
                }
                
            }
        }
        .TweetForm {
            width: 100%;
            padding: 5px 0px;
            border-bottom: 1px solid #ebeef0;
            margin-bottom: 5px;
            .LeftDP {
                padding: 1em;
                display: inline;
                .DpHolder{
                    display: inline-flex;
                    float: left;
                    padding: 3px 10px;
                    margin-right: 5px;
                    img {
                        border-radius: 50%;
                        width: 49px;
                        height: 49px;
                    }
                }
            }
            .ProgressRing{
                transition: 0.35s stroke-dashoffset;
                transform: rotate(-90deg);
                transform-origin: 50% 50%;
                width: 150px;
                height: 150px;
            }
            .FormArea {
                display: inline-block;
                width: calc(100% - 100px);
                .FormBody{
                    .divider{
                        height: 1px;
                        background-color: #ebeef0;
                        width: 100%;
                    }
                    .PublicityButton{
                        color: #1da1f2;
                        background: inherit;
                        border: none;
                        border-radius: 5px;
                        line-height: 1em;   
                        font-size: 0.8em;
                        display: flex;
                        align-items: center;
                        span.icon{
                            margin-right: 5px;
                            svg{
                                color:  #1da1f2;
                                fill:currentColor;
                            }
                        }
                    }
                    textarea {
                        width: 100%;
                        border: none;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        font-size: 19px;
                        &:active,
                        &:focus,
                        &:focus-within,
                        &:focus {
                            border: none;
                        }
                        border: none;
                        overflow: auto;
                        outline: none;
                        -webkit-box-shadow: none;
                        -moz-box-shadow: none;
                        box-shadow: none;
                        resize: none;
                    }
                }
                .FormBottom{
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                    .PlusIcon{
                        width: 28px;
                        height: 28px;
                        color: #1da1f2;
                        fill: currentColor;
                    }
                    .SubmitBtn{
                        background-color: #1da1f2;
                        border-radius: 25px;
                        border: none;
                        color: #ffffff;
                        padding: 10px 22px;
                        font-size: 1em;
                        font-weight: 800;
                        overflow: auto;
                        outline: none;
                        box-shadow: none;
                        &:active,
                        &:focus,
                        &:focus-within,
                        &:focus {
                            border: none;
                            background-color: #1a91da;
                        }
                        &:hover{
                            background-color: #1a91da;
                            cursor: pointer;
                        }
                    }
                }
                .IconsHolder{
                    display: inline-block;
                    .IconButtonsList{
                        list-style: none;
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 0px;
                        .IconButtonsListItem{
                            height: 22.5px;
                            width: 37px;
                            height: 37px;
                            display: flex;
                            justify-content: center;
                            svg{
                                width: 24px;
                                color: #1da1f2;
                                fill: currentColor;
                            }
                        }
                    }
                }
                .FloatRightSide{
                    float: right;
                    
                    .TextContentStat{
                        display: inline-flex;
                        justify-content: center;
                        margin: 15px 0px;
                        justify-content: center;
                        height: 37px;
                        margin: 15px 0px;
                        align-items: center;
                        .VerticalDivider{
                            width: 1px;
                            background-color: #ebeef0;
                            height: 100%;
                            margin: 0px 5px;
                        }
                        margin-right: 10px;
                    }
                    .SubmitBtnHolder{
                        display: inline-flex;
                        justify-content: center;
                        margin: 15px 0px;
                    }
                }
            }
        }
    }
}

i.icon, .icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

i.icon-bell {
    background-image: url(./icons/bell.svg);
}

i.icon-mail {
    background-image: url(./icons/mail.svg);
}

i.icon-bookmark {
    background-image: url(./icons/bookmark.svg);
}

i.icon-list {
    background-image: url(./icons/lists.svg);
}

i.icon-home {
    background-image: url(./icons/home.svg);
}

i.icon-more-dots {
    background-image: url(./icons/more-dots.svg);
}

i.icon-hashtag {
    background-image: url(./icons/hashtag.svg);
}

i.icon-user {
    background-image: url(./icons/user.svg);
}

i.icon-spark {
    background-image: url(./icons/spark.svg);
    color: #1da1f2;
    fill: currentcolor;
}